body {
    font-family: 'Mulish', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
}

ul {
    list-style-type: none;
}

#new_pom_form li {
    display: grid;
    max-width: 10vw;
}

#pom-list li {
    border: black dotted thin;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
}
